* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

body {
  background-color: #000011; }

footer {
  background-color: #1e1e1e;
  color: #FFF5FF; }

.link-github {
  margin: 0 5px;
  color: #FFF5FF;
  text-decoration: none; }

.link-github:hover {
  color: #1e1e1e; }

.link-twitter {
  margin: 0 5px;
  color: #FFF5FF;
  text-decoration: none; }

.link-twitter:hover {
  color: #1e1e1e; }

.link-instagram {
  margin: 0 5px;
  color: #FFF5FF;
  text-decoration: none; }

.link-instagram:hover {
  color: #1e1e1e; }

.link-facebook {
  margin: 0 5px;
  color: #FFF5FF;
  text-decoration: none; }

.link-facebook:hover {
  color: #1e1e1e; }

.btnf {
  border: #FFF5FF 1px solid;
  padding: 7px 15px;
  border-radius: 10px; }
  .btnf:hover {
    background-color: #FFF5FF;
    color: #1e1e1e; }

.navbar {
  font-family: 'Mulish', sans-serif; }
  .navbarfondo {
    background-color: #1e1e1e; }
  .navbarlogo {
    width: 150px;
    height: 150px; }
  .navbar__ig {
    position: fixed;
    width: 100%;
    z-index: 1; }
  .navbar .nav-link {
    background-image: linear-gradient(#1e1e1e, white);
    background-position: 50% 85%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    color: #FFF5FF; }
    .navbar .nav-link:hover {
      background-size: 100% 2px; }

.backimg {
  background-image: url("../imagesautos/bmwfondo.jpg");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center; }

.fondomain h1 {
  font-size: 6rem;
  max-width: 30rem;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  font-style: italic;
  color: #FFF5FF; }

.fondomain p {
  font-size: 3rem;
  max-width: 30rem;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-style: italic;
  color: #FFF5FF; }

.icon__main {
  padding: 20px 25px;
  border-radius: 10px;
  background-color: #FFF5FF;
  color: #1e1e1e; }
  .icon__main:hover {
    border: #FFF5FF;
    background: linear-gradient(45deg, #FFF5FF, #1e1e1e 100%);
    color: #FFF5FF; }

@media (max-width: 768px) {
  .texto-carrusel h1 {
    font-size: 3.8rem;
    max-width: 2rem; }
  .texto-carrusel p {
    font-size: 2.2rem; } }

.card {
  transition: transform 0.3s; }
  .card:hover {
    transform: translateY(-10px); }
  .card__btn1 {
    border: #FFF5FF 1px solid;
    color: #FFF5FF;
    font-weight: bold; }
  .card__btn2 {
    border: #1e1e1e 1px solid;
    color: #1e1e1e;
    font-weight: bold; }
  .card__btn1 {
    transition: background-color 0.5s, color 0.5s; }
  .card__btn2 {
    transition: background-color 0.5s, color 0.5s; }
  .card__btn1:hover {
    background-color: #FFF5FF;
    color: #1e1e1e; }
  .card__btn2:hover {
    background-color: #1e1e1e;
    color: #FFF5FF; }
  .card_1 {
    background-color: #1e1e1e;
    color: #FFF5FF; }
  .card_2 {
    background-color: #FFF5FF;
    color: #1e1e1e; }
  .card_b1 {
    border: #FFF5FF 1px solid; }
  .card_b2 {
    border: #1e1e1e 1px solid; }

.card__title {
  margin-top: 7rem;
  font-family: 'Oswald', sans-serif;
  font-style: italic;
  color: #FFF5FF;
  text-transform: uppercase; }

.card__zoom {
  transition: transform 1s, box-shadow 1.5s;
  box-shadow: -3px -3px 3px 3px #404040;
  margin-top: 1rem;
  border: none; }
  .card__zoom:hover {
    transform: scale(1.1);
    box-shadow: -3px -3px 3px 3px white;
    margin-top: 1rem;
    border: none; }

.card__bordeg::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #FFF5FF;
  margin-top: 10px; }

.card__back, .card__bodyg1 h5, .card__bodyg2 h5 {
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
  font-size: 22px; }

.card__bodyg1 {
  background-color: #1e1e1e; }
  .card__bodyg1 h5 {
    color: #FFF5FF; }
  .card__bodyg1::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #FFF5FF;
    margin-top: 15px; }

.card__bodyg2 {
  background-color: #FFF5FF; }
  .card__bodyg2 h5 {
    color: #1e1e1e; }
  .card__bodyg2::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #1e1e1e;
    margin-top: 15px; }

@media (max-width: 768px) {
  .card__zoom:hover {
    transform: none;
    box-shadow: -3px -3px 3px 3px white;
    margin-top: 1rem;
    border: none; } }

.form-label {
  font-family: 'Oswald', sans-serif;
  font-style: italic;
  font-size: 1.5rem;
  color: #FFF5FF; }

.form-text {
  color: #FFF5FF; }

.form-check-label {
  color: #FFF5FF; }

.form-control:hover {
  box-shadow: none; }

.btn__contact {
  border: 1px solid #FFF5FF; }
  .btn__contact:hover {
    color: #1e1e1e;
    background-color: #FFF5FF; }
