.card {
    transition: transform 0.3s;

    &:hover {
        transform: translateY(-10px);
    }

    &__btn {
        transition: background-color 0.5s, color 0.5s;
    }

    &__btn:hover {
        background-color: white;
        color: $lightblack;
    }
}