.navbar {

    &fondo { 
         background-color: #1e1e1e;
    }

    &logo {
         width: 150px;
         height: 150px;
    }

    font-family: 'Mulish', sans-serif;

    &__ig {
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    .nav-link {
        background-image: linear-gradient($lightblack, white);
        background-position: 50% 85%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s;
        color: #FFF5FF;

        &:hover {
            background-size: 100% 2px;
        }
    }
}



