.backimg {
    background-image: url("../imagesautos/bmwfondo.jpg");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;  
}

.fondomain {

    & h1 {
    font-size: 6rem;
    max-width: 30rem;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    color: #FFF5FF;
    }

    & p {
    font-size: 3rem;
    max-width: 30rem;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    color: #FFF5FF;
    }
}

.icon__main {
    padding: 20px 25px;
    border-radius: 10px;
    background-color: #FFF5FF;
    color: #1e1e1e;

    &:hover {
        border: #FFF5FF;
        background: linear-gradient(45deg, #FFF5FF, #1e1e1e 100%);
        color: #FFF5FF;
    }
}

@media (max-width: 768px) {
    .texto-carrusel h1 {
        font-size: 3.8rem;
        max-width: 2rem;
    }

    .texto-carrusel p {
        font-size: 2.2rem;
    }
}