.backimg {
    background-image: url("../imagesautos/bmwfondo.jpg");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.fondomain {

    & h1 {
    font-size: 6rem;
    max-width: 30rem;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    color: #FFF5FF;
    }

    & p {
    font-size: 3rem;
    max-width: 30rem;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    color: #FFF5FF;
    }
}

.rombo {
    width: 100px; 
    height: 150px; 
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.icon__main {
    padding: 5px 15px;
    background-color: #FFF5FF;
    color: #1e1e1e;
    border: 2px solid #1e1e1e; 
    font-size: 50px;

    &:hover {
        border: 2px solid #FFF5FF;
        background-color: #1e1e1e;
        color: #FFF5FF;
    }
}

@media (max-width: 768px) {
    .texto-carrusel h1 {
        font-size: 3.8rem;
        max-width: 2rem;
    }

    .texto-carrusel p {
        font-size: 2.2rem;
    }
    
    .icon__main {
        padding: 5px 10px;
    }
}