/* html {
    font-size: 62.5%;
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* HEADER */

.navbar__ig {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navbar {
    font-family: 'Mulish', sans-serif; 
}

.nav-link {
    background-image: linear-gradient(black, white);
    background-position: 50% 85%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.nav-link:hover {
    background-size: 100% 2px;
}

/* MAIN */

/* CARRUSEL */

.fondomain h1 {
    font-size: 6rem;
    max-width: 30rem;
    color: black;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
}

.fondomain p {
    font-size: 3rem;
    max-width: 30rem;
    color: black;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
}

.icon__main {
    transition: transform 0.3s;
}

.icon__main:hover {
    border: black;
    background-color: black;
}

.icon__main2 {
    color: black;
}

.icon__main2:hover {
    color: white;
}

.backimg {
    background-image: url("./imagesautos/bmwfondo.jpg");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;  
}

/* CARDS MAIN */

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.btn__card {
    transition: background-color 0.5s, color 0.5s;
}

.btn__card:hover {
    background-color: white;
    color: black;
}

/* GALERIA */

.galeriamt {
    margin-top: 7rem;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
}

.card__zoom {
    transition: transform 1s, box-shadow 1.5s;
    box-shadow: -3px -3px 3px 3px hsla(240, 0%, 25%, 1);
    margin-top: 1rem;
    border: none;
}

.card__zoom:hover {
    transform: scale(1.1);
    box-shadow: -3px -3px 3px 3px hsla(240, 0%, 100%, 1);
    margin-top: 1rem;
    border: none;
}

.card__zoom h5 {
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
}

.card-bodyg::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: black;
    margin-top: 15px;
}

.borde__cardg::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: black;
    margin-top: 10px;
}

/* CONTACTO */

.form-label {
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    font-size: 1.5rem;
}

.form-control:hover {
    box-shadow: none;
}

.btn__contact {
    border: 1px solid white;
}

.btn__contact:hover {
    color: black;
    background-color: white;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
    .texto-carrusel h1 {
        font-size: 5rem;
    }
}


